@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        font-family: 'Roboto',
        'Noto Sans TC',
        sans-serif;
        font-weight: 100;
        letter-spacing: 2px;
        color: #fff;
        font-size: 16px;
    }

    ::selection {
        background: #000;
        color: #fff;
    }
    ::-moz-selection {
        background: #000;
        color: #fff;
    }
    .red{
        color:red!important;
        font-weight:bold!important;
    }
    h1{
        text-align: center;
        color:rgba(26,26,26,.9);
        margin: 1em 0 .5em;
        font-size: 34px;
        line-height: 1.2em;
        text-transform: none;
        letter-spacing: 2px;
        font-weight: 400;
        font-style: normal;
    }
    h2{
        text-align: center;
        color:rgba(26,26,26,.9);
        margin: 1em 0 .5em;
        font-size: 24px;
        line-height: 1.2em;
        text-transform: none;
        letter-spacing: 2px;
        font-weight: 400;
        font-style: normal;
    }
    h3{
        text-align: center;
        font-size: 16px;
        line-height: 1.8em;
        letter-spacing: 2px;
        font-weight: 400;
        font-style: normal;
        color: rgba(26,26,26,.6);
    }
    h4{
        font-size: 13px;
        line-height: 1.8em;
        letter-spacing: 2px;
        font-weight: 400;
        font-style: normal;
        color: rgba(26,26,26,.4);
        text-align: center;
    }

    #right-bar{
        width: 200px;
        height: 100vh;
        position: fixed;
        right: 0;
        top: 0;
        background-color:#212121;
        padding:20px 40px;
        z-index: 2;
        visibility: hidden;
    }
    #right-bar .index a{
        font-size: 16px;
        padding: 15px;
    }
    #right-bar .btn-w{
        font-size:16px;
    }
    #right-bar .index{
        display: block;
    }
    #right-bar .index a{
        display: block;
        width: 100%;
    }
    #left-bar{
        z-index: 4;
        position: relative;
        top: 0;
        left: 0;
    }
    /*=------------navtoggle-------------*/
    .NavToggle{
        transform: scale(1.5);
        display: none;
        position: absolute;
        z-index: 1002;
        top: 50%;
        right: 40px;
        margin-top: -8px;
        padding: 0;
        vertical-align: middle;
        line-height: 16px;
        text-align: right;
        cursor: pointer;
        user-select: none;
        color: rgba(255,255,255,.8);
        width: 22px;
        height: 22px;
    }
    .top-bar{
        display: inline-block;
        width: 22px;
        height: 2px;
        background-color: #fff;
        -webkit-transition: -webkit-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
        -moz-transition: -moz-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
        -ms-transition: -ms-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
        -o-transition: -o-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
        transition: transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        position: absolute;
        top: 0;
        right: 0;
    }
    .middle-bar{
        width: 22px;
        height: 2px;
        background-color: #fff;
        -webkit-transition: -webkit-transform .1s 0s ease-in-out,top .1s .1s ease-in-out,opacity 0s .15s linear;
        -moz-transition: -moz-transform .1s 0s ease-in-out,top .1s .1s ease-in-out,opacity 0s .15s linear;
        -ms-transition: -ms-transform .1s 0s ease-in-out,top .1s .1s ease-in-out,opacity 0s .15s linear;
        -o-transition: -o-transform .1s 0s ease-in-out,top .1s .1s ease-in-out,opacity 0s .15s linear;
        transition: transform .1s 0s ease-in-out,top .1s .1s ease-in-out,opacity 0s .15s linear;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        position: absolute;
        top: 7px;
        right: 0;
    }
    .bottom-bar{
        width: 22px;
        height: 2px;
        background-color: #fff;
        -webkit-transition: -webkit-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
        -moz-transition: -moz-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
        -ms-transition: -ms-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
        -o-transition: -o-transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
        transition: transform .1s 0s ease-in-out,top .1s .1s ease-in-out;
        -webkit-transform-origin: 50% 50%;
        -moz-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        -o-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        position: absolute;
        top: 14px;
        right: 0;
    }
    .NavToggle.actived .top-bar{
        -webkit-transition: -webkit-transform .1s .1s ease-in-out,top .1s 0s ease-in-out;
        -moz-transition: -moz-transform .1s .1s ease-in-out,top .1s 0s ease-in-out;
        -ms-transition: -ms-transform .1s .1s ease-in-out,top .1s 0s ease-in-out;
        -o-transition: -o-transform .1s .1s ease-in-out,top .1s 0s ease-in-out;
        transition: transform .1s .1s ease-in-out,top .1s 0s ease-in-out;
        -webkit-transform:rotate(45deg);
        -moz-transform:rotate(45deg); ;
        -ms-transform:rotate(45deg); ;
        -o-transform:rotate(45deg); ;
        transform:rotate(45deg); ;
        top:7px;
    }
    .NavToggle.actived .middle-bar{
        -webkit-transition: -webkit-transform .1s 0.1s ease-in-out,top .1s 0s ease-in-out,opacity 0s .15s linear;
        -moz-transition: -moz-transform .1s 0.1s ease-in-out,top .1s 0s ease-in-out,opacity 0s .15s linear;
        -ms-transition: -ms-transform .1s 0.1s ease-in-out,top .1s 0s ease-in-out,opacity 0s .15s linear;
        -o-transition: -o-transform .1s 0.1s ease-in-out,top .1s 0s ease-in-out,opacity 0s .15s linear;
        transition: transform .1s 0s ease-in-out,top .1s 0s ease-in-out,opacity 0s .15s linear;
        opacity: 0;
        top:7px;
    }
    .NavToggle.actived .bottom-bar{
        -webkit-transition: -webkit-transform .1s 0.1s ease-in-out,top .1s 0s ease-in-out;
        -moz-transition: -moz-transform .1s 0.1s ease-in-out,top .1s 0s ease-in-out;
        -ms-transition: -ms-transform .1s 0.1s ease-in-out,top .1s 0s ease-in-out;
        -o-transition: -o-transform .1s 0.1s ease-in-out,top .1s 0s ease-in-out;
        transition: transform .1s 0.1s ease-in-out,top .1s 0s ease-in-out;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform:rotate(-45deg);
        transform: rotate(-45deg);
        top:7px;
    }
    .btn-w {
        padding: 10px 20px;
        border: 2px solid #fff;
        margin: 10px;
        font-weight: 400;
        line-height: 1.2em;
        display: inline-block;
        color:#eee;
    }
    .btn-w:hover {
        color: #333  !important;
        background-color: #fff;
        transition: .5s;
        text-shadow: none !important;
    }
    .btn-b {
        padding: 10px 20px;
        color:#333;
        background-color: #fff;
        border: 2px solid #333;
        margin: 10px;
        font-weight: 400;
        line-height: 1.2em;
        display: inline-block;
    }
    .btn-b:hover {
        color: #eee  !important;
        background-color: #333;
        transition: .5s;
        text-shadow: none !important;
    }
    body {
        background-color: #000;
        width: 100%;
    }

    header {
        padding: 20px;
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        z-index: 1000;
    }

    .header-inner {
        width: 100%;
        display: table;
        box-sizing: border-box;
        animation: header-anim 1s ease-in-out;
    }

    @keyframes header-anim {
        from {
            opacity: 0
        }
        to {
            opacity: 1
        }
    }
    .logo {
        margin: 0 10px;
        width: 90px;
        height: 90px;
        display: table-cell;
    }

    .logo img {
        width: 100%;
        height: 100%;
    }

    #headerNAV {
        display: table-cell;
        text-align: right;
        vertical-align: middle !important;
    }

    .index {
        display: inline-block;
        font-size: 16px;
        line-height: 1.5em;
    }

    .index a {
        display: inline;
        font-size: 13px;
        padding: 9.75px 13px;
        color: #ccc;
        text-shadow: 0 0 5px #000;
    }

    .index a:hover {
        color: #fff;
        transition: .5s;
    }
    .active{
        pointer-events: none;
    }

    main {
        width: 100vw;
    }

    .bg {
        width: 100%;
        height: 565px;
        overflow: hidden;
        position: relative;
    }

    .bg img {
        width: 2000px;
        position: relative;
        animation: fadein 0.5s 0.5s both;
    }
    @keyframes fadein {
        from{opacity: 0}
        to{opacity: 1}
    }
    .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 500;
    }

    .bg-title-wrap {
        position: absolute;
        width: 100%;
        text-align: center;
        padding: 180px 0 155px;
    }

    .bg-title {
        z-index: 700;
        position: relative;
        width: 100%;
        display: block;
        margin: 0 auto;
        text-align: center;
        color: #fff;
        padding: 32px;
        max-width: 956px;
        text-rendering: optimizeLegibility;
        animation: bg-title-anim 1s ease-in-out both;
    }

    @keyframes bg-title-anim {
        0% {
            opacity: 0;
            transform: translate3d(0, 0px, 0);
        }
        75% {
            opacity: 1;
            transform: translate3d(0, -10px, 0);
        }
        100% {
            opacity: 1;
            transform: translate3d(0, -10px, 0);
        }
    }
    .bg-title p {
        margin: 20px auto;
        font-size: 24px;
        line-height: 1.5em;
        font-weight: 400;
        font-style: italic;
        font-family: 'Lora', serif;
    }

    .bg-title p > strong {
        font-size: 50px;
        line-height: 1em;
        font-weight: 700;
        font-family: 'Roboto';
        font-style: normal;
        letter-spacing: 5px;
    }
    /*----------*/
    .page-content{
        max-width: 1020px;
        margin: 0 auto;
        padding: 96px 32px;
    }
    #slogan,#code,#ux{
        background-color: #edeeef !important;
    }
    #ux h3,#ux h2{
        text-align: left;
        line-height: 2em;
        text-align: justify;
    }
    .text-justify{
        text-align: justify!important;
    }
    #skill h1,#skill h2,#skill h3,#skill h4,#skill p{
        margin: 0 0 20px 0;
        text-align: left;
    }
    #experience h1,#experience h2,#experience h3,#experience h4,#experience p{
        margin: 0 0 20px 0;
        text-align: left;
    }
    #skill,#resume{
        background-color: #ffffff !important;
    }
    #experience{
        background-color: #dddddd;
    }
    #photos img{
        width: 100%;
    }
    #photos .col{
        margin: 0;
        width: 33.3%;
        padding: 0;
    }
    #information{
        background-color: #fff;
        text-align: left;
    }
    #information p{
        font-size: 16px;
        line-height:2.4em;
        letter-spacing: 0px;
        font-weight: 400;
        font-style: normal;
        color: rgba(26,26,26,.8);
        text-align: left;
        margin-bottom: 20px;
        text-align: justify;
    }
    #post{
        background-color: #edeeef;
    }
    input{
        width: 100%;
        line-height: 2em;
    }
    input:last-child{
        width: auto;
    }
    textarea{
        width: 100%;
        line-height: 2em;
    }
    .img-content{
        padding:1vw 1vw;
        text-align: center;
    }
    .img-wrap{
        padding:30px 30px 30px 0;
        text-align: left;
    }
    .img-wrap img{
        width: 100%;
        }
    .readmore{
        font-size: 13px;
        display: inline-block;
        margin-top: 20px;
        padding: 5px;
        color:rgba(26,26,26,.6);
        border-bottom:1px solid #aaa;
    }
    a.readmore::after {
        content: " \279D";
    }
    .rss{
            text-align: center;
        }
    .line{
        width: 100%;
        height: 30px;
        border-bottom:1px dotted #666;
    }
    .post-index h1,.post-index h2,.post-index h3,.post-index h4,.post-index p{
        text-align: left;
    }
    #contact_form h3{
        text-align: left;
    }
    #contact_form h4{
        text-align: left;
    }
    .post-index h2{
        margin:20px 0;
    }
    .post-index p{
        color:rgba(26,26,26,.6);
        font-weight:400;
    }
    .contact-word{
        text-align: left;
    }
    .contact-word h1{
        text-align: left;
    }
    .contact-word h2{
        text-align: left;
    }
    .contact-word h3{
        text-align: left;
    }
    .contact-word p{
        font-size: 14px;
        line-height: 2em;
        color:rgba(26,26,26,.6);
        font-weight:400;
    }

/*--------*/
    .prefooter-inner {
        padding:64px 32px;
        text-align: center;
        background-color: #353439;;
    }

    .prefooter-inner > p {
        width: 100%;
        font-size: 24px;
        line-height: 40px;
    }
    .footer-inner{
        background-color: #26262a;
        padding:64px 32px;
        font-weight: 100;
    }
    .footer-inner a{
        font-size:13px;
        color:rgba(255,255,255,.6);
    }
    .footer-inner a:hover{
        color:rgba(255,255,255,1);
        transition: .3s;
    }
    .copyright{
        font-weight:100;
        font-size:13px;
        line-height:1.5em;
        margin: 20px 0 ;
        text-align: center;
        color:rgba(255,255,255,.3);
    }
    .logo-word{
        width: 100%;
        text-align: center;
        padding: 20px 0;
    }
    .logo-word img{
        width: 60px;
        height: 60px;
    }
/*------------------*/
    .bar-chart{
        position: relative;
        width: 100%;
        height: 450px;
        border-bottom: 1px solid #aaa;
        background: url(../img/axis.png) repeat-x;

    }
    .bar-chart h3{
        position: absolute;
        top: 1vh;
        right: 3vw;
        color:#333;
        font-size: 5vw;
    }
    .bar-chart ul{
        height: 100%;
    }
    .bar-chart .axis{
        width: 8%;
        height: 100%;
        display: inline-block;
        border-right: 1px solid #aaa;
        border-bottom: 1px solid #edeeef;
        background-color: #fff;
        top: -2px;
        z-index: 100;
    }
    .bar-chart .axis .label{
        position: relative;
        top: -10px;
        left: -15px;
        color:#333;
        padding:0 0 93px 0;
    }
    .bar-chart .axis .label:before{
        content:"";
        width:70vw ;
        display: block;
        height: 0;
        position: relative;
        left: 6.5vw;

    }
    .bar-chart .percent{
        width: 100%;
        bottom: 6vh;
        font-size:6vw;
        display:block;
        position: absolute;
        text-align: center;
        color:#fff;
        opacity: .3;
    }
    .bar-chart .percent span{
        font-size: 3.2vw;
        vertical-align: center;
    }
    .bar-chart .skill{
        font-size: 2.2vw;
        color:#fff;
        position: absolute;
        bottom:3vh;
        font-weight: 100;
        text-align: center;
        width: 100%;
        text-shadow: 0px 0px 1px #ddd;
    }
    .bar-chart  .p-95{
        width: 16%;
        height:0;
        position: absolute;
        bottom:0;
        left: 10%;
    
    }
    .bar-chart .aqua{
        box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
        border: #BBB solid 1px;
        border-bottom: #BBB solid 1px;
        border:1px solid #8dc5be;
        background-color: #b0dbd6;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #5fb2a8), color-stop(1, #b0dbd6));
    }
    .bar-chart  .p-85{
        width: 16%;
        height:0;
        position: absolute;
        bottom:0;
        left: 28%;
    
    }
    .bar-chart .pink{
        box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
        border: #BBB solid 1px;
        border-bottom: #BBB solid 1px;
        border-color: #ebc0b5;
        background-color: #f4dcd6;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #e1ae9e), color-stop(1, #f4dcd6));
    }
    .bar-chart  .p-90{
        width: 16%;
        height:0;
        position: absolute;
        bottom:0;
        left: 46%;
    
    }
    .bar-chart .yellow{
        box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
        border: #BBB solid 1px;
        border-bottom: #BBB solid 1px;
        border-color: #e7af30;
        background-color: #efc563;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #dfae36), color-stop(1, #efc563));
    }
    .bar-chart  .p-75{
        width: 16%;
        height:0;
        position: absolute;
        bottom:0;
        left: 64%;
    
    }
    .bar-chart .brown{
        box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
        border: #BBB solid 1px;
        border-bottom: #BBB solid 1px;
        border-color: #dcb386;
        background-color: #dcba83;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #bc8e5b), color-stop(1, #dcba83));
    }
    .bar-chart  .p-40{
        width: 16%;
        height:0;
        position: absolute;
        bottom:0;
        left: 82%;
    }
    .bar-chart .red{
        box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.6);
        border: #BBB solid 1px;
        border-bottom: #BBB solid 1px;
        border-color: #e14949;
        background-color: #da6d6c;
        background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #ca4544), color-stop(1, #da6d6c));
    }

.p-95.go{animation: barA .5s  0s 1 both ;}
.p-85.go{animation: barB .5s .1s 1 both ;}
.p-90.go{animation: barC .5s .2s 1 both ;}
.p-75.go{animation: barD .5s .3s 1 both ;}
.p-40.go{animation: barE .5s .4s 1 both ;}

@keyframes barA{0%{height: 0;}100%{height: 90%;}}
@keyframes barB{0%{height: 0;}100%{height: 80%;}}
@keyframes barC{0%{height: 0;}100%{height: 85%;}}
@keyframes barD{0%{height: 0;}100%{height: 70%;}}
@keyframes barE{0%{height: 0;}100%{height: 75%;}}

/*--------------*/
    .codebox{
        border-top: 3px solid #353439;
        padding: 30px;
        width: 100%;
        box-sizing: border-box;
        height: 300px;
        background-color: #fff;
    }
    .codebox h1{
        text-align: left;
        margin: 0;
        height: 160px;
        font-weight:400;
    }
    .codebox h2{
        text-align: left;
    }

    .codebox h4{
        text-align: left;
        margin: 0;
        height: 40px;
    }
    .codebox span{
        color:#666;
        font-weight: 400;
        text-align: left;
        height: 20px;
        border-bottom:1px solid #aaa;
    }
    .codebox:hover {
        background-color: #353439;
        transition: 0.5s;
    }
    .codebox:hover h1,
    .codebox:hover h2,
    .codebox:hover h3,
    .codebox:hover h4,
    .codebox:hover span{
        color:#fff;
        transition: 0.5s;
    }
    .codebox.diable{
        opacity: .5;
        pointer-events: none;
        border-top: 3px solid #fff;
        border-bottom:1px solid #fff;
        border-left:1px solid #fff;
        border-right:1px solid #fff;
        background-color: transparent;
    }
/*---------------*/
/*寬度 <=640 時要改變的樣式 (手機)*/

#headerNAV{
    visibility: visible;
}
.NavToggle{
    display: none;
}
@media screen and (max-width: 640px){
    #skill{
        display: none;
    }
    .bg{
        height: 420px;
    }
    .bg img {
        width:800px;
    }
    .bg-title{
        padding: 0;
    }
    .bg-title p{
        font-size:13px;
    }
    .bg-title p>strong{
        font-size: 24px;
    }
    .img-content{
        padding:10vw 20vw;
    }
    #headerNAV{
        visibility: hidden;
    }
    .NavToggle{
        display: inline-block;
    }
}

#contact_form input,#contact_form textarea{
    color:black;
}
.success{
    color:black;
    display: none;
}